body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #045346;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    opacity: 0%;
}

.rect {
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
    font-family: Tahoma, Geneva, sans-serif;
    user-select: none;
}

#rect_2{
    position: absolute;
    bottom: 0;
}

.previous {
    text-decoration: none;
    position: absolute;
    display: inline-block;    
    padding: 0px 25px;
    height: 60px;
    width: 15px;
    line-height: 55px;
    background-color: #012F2C;
    left: 32%;
    margin-top: 35px;
    color:#bbded8;
    transition: 0.2s;
    padding-right: 27px;
}

.previous:hover {
    background-color: #bbded8;
    color: #012F2C;
}

.round {
    border-radius: 50%;
    cursor: pointer;
}

.image {
    margin-left: 80px;
}

img {
    width: 500px;
}

.text {
    width: 600px;
    color:#bbded8;
    font-family: Tahoma, Geneva, sans-serif;
    margin-left: 100px;
}

h1 {
    font-size: 40px;
    margin-top: 0;
}

p {
    font-size: 24px;
    color:#a9d0c9;
    line-height: 32px;
    text-align: justify;
}
