
body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #045346;
}

::-webkit-scrollbar { 
    width: 0px; 
    background: transparent;  
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 150px;
    height: 71%;
    width: 50%;
    justify-content: center;
    overflow-y: auto;
    transition: all 1s ease;
    opacity: 0%;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: separate; 
    border-spacing: 75px 40px;  
}


a.animated-button:hover {
    color: #e5f2ff;
    text-shadow: none;
    background-color: #118975;
}

a.animated-button {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #d0e3e0;
    font-size:60px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    line-height: 200px;
    transition: 0.5s;
}

a.animated-button {
    border: 3px solid #118975;
}

#rect_1{
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
    font-family: Tahoma, Geneva, sans-serif;
    user-select: none;
}

#rect_2{
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    font-weight: bold;
    color:#bbded8;
    position: absolute;
    bottom: 0;
}

.set{
    position: relative;
}

.bottom{
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: #118975;
    bottom: 0;
    z-index: 1;
}

.bottom_button {
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #012F2C;
    margin-left:40px;
    margin-right:50px;
    border:none;
}

i {
    border-radius: 50%;
    width: 60px;
    height: 50px;
    color:#bbded8;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 0px;
    transition: 0.4s;
}

i:hover {
    color:#012F2C;
    background-color: #bbded8;
    font-size: 35px;
    padding-top: 13px;
    padding-left: 2px;
    padding-right: 2px;

}






