body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #045346;
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
    transition: all 1s ease;
    opacity: 0%;
}

.bar{  
    
    background-color: #066354;
    text-align: center;
    color: #f8f8f8; 
    user-select: none;    
    transition: 0.3s;       
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: 500;
}

table{
    border-collapse: collapse; 
    cursor: pointer;  
}

td, th{
    padding: 0px; 
    border: 4px solid #045346;
}

#rect_1{
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
    font-family: Tahoma, Geneva, sans-serif;
    user-select: none;
}

#rect_2{
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 50px;
    font-weight: bold;
    color:#bbded8;
    position: absolute;
    bottom: 0;
    user-select: none;
}

.previous {
    text-decoration: none;
    position: absolute;
    display: inline-block;    
    padding: 0px 25px;
    height: 60px;
    width: 15px;
    line-height: 55px;
    background-color: #012F2C;
    left: 32%;
    margin-top: 35px;
    color:#bbded8;
    transition: 0.2s;
    padding-right: 27px;
}

.previous:hover {
    background-color: #bbded8;
    color: #012F2C;
}

.round {
    border-radius: 50%;
    cursor: pointer;
}

.helper {
    position: absolute;
    right: 30.4%;
    width: 100px;
    height: 130px;
    top: 0;
    text-align: center;
    display: block;
}

.help_count {
    cursor: pointer;
    position: absolute;
    line-height: 55px;
    margin-top: 30px;
    color:#bbded8;
    transition: 0.2s;
    text-align: center;
    left: 15px;
    font-family: Tahoma, Geneva, sans-serif;
}

.help_text {
    position: absolute;
    color:#bbded8;
    top: 80px;
    left: 0;
    font-size: 15px;
    line-height: 15px;
    user-select: none;
    text-align: center;
}

.bottom_button {
    width:60px;
    height: 60px;
    border-radius: 50%;
    background-color: #012F2C;
    margin-left:40px;
    margin-right:50px;
    border:none;
}

i {
    border-radius: 50%;
    width: 60px;
    height: 50px;
    color:#bbded8;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 0px;
    transition: 0.2s;
}

i:hover {
    color:#012F2C;
    background-color: #bbded8;
}





