body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-family: 'Exo', sans-serif;
    background-color: #0b6f5e;
    transition: 1s;
    
}

.container{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 150px;
    height: 71%;
    width: 50%;
    justify-content: center;
    overflow-y: auto;
    transition: all 1s ease;
    text-align: center;
    opacity: 0;
}


/* Кнопка "играть" */

button {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 0px solid #118975;
    background-color: #045346;
    color: #edcc6c;
    margin-top: 25%;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    transition: 1s;
    box-shadow: 0 0 10px 2px;
}


/* Верхняя и нижняя панели */

.rect {
    height: 130px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 130px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
    font-family: Tahoma, Geneva, sans-serif;
    user-select: none;
}

#rect_2{
    position: absolute;
    bottom: 0;
}


/* Анимированный фон */

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100%;
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
    font-size: 50px;
    line-height: 80px;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
    font-size: 10px;
    line-height: 20px;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
    font-size: 10px;
    line-height: 20px;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
    font-size: 30px;
    line-height: 60px;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
    font-size: 10px;
    line-height: 20px;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
    font-size: 80px;
    line-height: 110px;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
    font-size: 120px;
    line-height: 150px;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
    font-size: 10px;
    line-height: 25px;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
    font-size: 10px;
    line-height: 15px;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
    font-size: 120px;
    line-height: 150px;
}

li {
    color: #d7d7d7;
    text-align: center;
    user-select: none;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}