body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #045346;}

.container{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 50%;
    transform: translate(0%, -50%);
    display: flex;
    justify-content: center;
}

.bar{  
    width: 150px;
    height: 150px;
    background-color: #066354;
    text-align: center;
    line-height: 150px;
    font-size: 50px;
    color: #f8f8f8; 
    user-select: none;    
    transition: 0.3s;                        
}

table{
    border-collapse: collapse; 
    cursor: pointer;    
}

td, th{
    padding: 0px; 
    border: 6px solid #256a65;
}

#rect_1{
    height: 110px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 110px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
}

#rect_2{
    height: 110px;
    width: 100%;
    background-color: #012F2C;
    text-align: center;
    line-height: 110px;
    font-size: 40px;
    font-weight: bold;
    color:#bbded8;
    position: absolute;
    bottom: 0;
    vertical-align: middle;
}

a {
    text-decoration: none;
    position: absolute;
    display: inline-block;    
    padding: 0px 25px;
    height: 60px;
    line-height: 55px;
    background-color: #012F2C;
    left: 50px;
    margin-top: 25px;
    color:#bbded8;
    transition: 0.3s;
}

a:hover {
    background-color: #256a65;
    color: #012F2C;
}

.round {
    border-radius: 50%;
}


